<h3 class="text-center">Путешествия</h3>
<div class="container" ng-controller="TripController">


    <button class="btn btn-default btn" ng-click="addItem()">Добавить путешествие</button>
    <!--<button class="btn btn-success btn" ng-click="changeWidth(50)">-->
        <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
    <!--</button>-->
    <!--<button class="btn btn-warning btn" ng-click="changeWidth(-50)">-->
        <!--<span class="glyphicon glyphicon-minus" aria-hidden="true">-->
        <!--</span>-->
    <!--</button>-->

    <section>
        <div class="container">

            <ul class="flowGrid" ng-flow-grid="demoGird">
                <li class="flowGridItem" ng-repeat="item in items">
                    <a href="/#/trips/{{item.id}}/stories" ng-click="stories(item.id)">
                        <img ng-src="{{item.image.url}}"
                             width="400px"
                             height="300px"></a>

                    <div ng-model="item.name" contenteditable="true" ng-blur="updateTrip(item)">{{item.name}}</div>
                    <a confirmed-click="deleteItem($index)" ng-confirm-click="Удалить путешествие?"
                       class="btn btn-danger btn-xs">Удалить путешествие</a></td>
                </li>
            </ul>

        </div>
    </section>

</div>