<h3 class="text-center">Войти</h3>

<ul>
    <li>Демо пользователь <strong>user/123</strong></li>
</ul>
<hr/>
<form ng-controller="LoginCtrl" ng-submit="login()" name="loginForm" role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2">Имя пользователя</label>

        <div class="col-xs-4">
            <input type="text" ng-model="username" placeholder="Имя пользователя" name="username" required="required"
                   autofocus="autofocus" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Пароль</label>

        <div class="col-xs-4">
            <input type="password" ng-model="password" placeholder="Пароль" name="password" required="required"
                   class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label for="rememberme" class="checkbox">
                </label>
                <input id="rememberme" type="checkbox" ng-model="rememberme" name="rememberme"/>Запомнить меня
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" data-ng-disabled="loginForm.$invalid" class="btn btn-default">Войти</button>
        </div>
    </div>
</form>
<hr/>
<!--<p>... войти с помощью соцсети:</p>-->
<!--<div class="btn-group">-->
    <!--<a href="" data-ng-click="loginOauth('facebook')" data-ng-disabled="true" class="btn btn-default">-->
        <!--<i class="fa fa-facebook-square"></i> Facebook</a>-->

    <!--<a href="" data-ng-click="loginOauth('twitter')" data-ng-disabled="true" class="btn btn-default">-->
        <!--<i class="fa fa-twitter"></i> Twitter</a>-->

    <!--<a href="" data-ng-click="loginOauth('google')" data-ng-disabled="true" class="btn btn-default">-->
        <!--<i class="fa fa-google-plus-square"></i> Google</a>-->

    <!--<a href="" data-ng-click="loginOauth('linkedin')" data-ng-disabled="true" class="btn btn-default">-->
        <!--<i class="fa fa-linkedin"></i>LinkedIn</a>-->
<!--</div>-->
