/*------------------------*/
.flowGrid{position: relative;padding: 0;}
.flowGrid:before,.flowGrid:after{
    content: "";
    display: table;
}
.flowGrid:after{
    clear:both;
}
.flowGridItem{ list-style: none;}
.flowGridItem img{width:100%;}
.flowGridColumn{
    float: left;
    padding-left: 10px;
}
.flowGridColumn:last-of-type{
    padding-right: 10px;
}

/*---------- demo page only--------------*/
header{
    background-color: #efefef;
    margin-bottom: 25px;
    height: 250px;
    text-align: center;

}