*:focus {
    outline: none;
}

body {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 22px;*/
    /*line-height: 30px;*/
}

#container {
    width: 960px;
    margin: 30px auto;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
    padding-bottom: 80px;
    letter-spacing: -2px;
    border-bottom: 1px solid #dbdbdb;
    margin-top: 80px;
    padding-top: 80px;
}

a {
    color:black;
}

a:hover {
    color:green;
}

blockquote {
    display: block;
    padding-left: 20px;
    border-left: 6px solid #df0d32;
}

.editable,
.secondEditable
{
    outline: none;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #dbdbdb;
}

pre {
    font-family: 'Menlo', monospace;
    font-size: 15px;
    background-color: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
}

/*#container {*/
    /*width: 960px;*/
    /*margin: 30px auto;*/
/*}*/


h3 {
    font-size: 32px;
    line-height: 42px;
}

h4 {
    font-size: 26px;
    line-height: 32px;
}


/*blockquote {*/
    /*border-left: 5px solid #555;*/
    /*margin-left: -15px;*/
    /*padding-left: 15px;*/
    /*font-style: italic;*/
    /*color: #555;*/
/*}*/

/*#elem {*/
    /*background: url('Lighthouse.jpg') center center no-repeat;*/
    /*background-size: 100% 100%;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0px !important;*/
    /*text-align: center;*/
/*}*/
.comment {
    margin-bottom: 80px;
    /*-webkit-user-modify: read-write;*/
    word-wrap: break-word;
    /*-webkit-line-break: after-white-space;*/
    /*width: 50%;*/
    display:block;
    /*background-color;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 30px;
    margin-top: 3%;
    padding: 2%;
    /*text-align: center;*/
}


::selection {
    background: #000;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.comment:focus {
    outline: 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
}

.comment:hover {
    outline: 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
}

.img-responsive:hover {
      outline: 0;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.42);
}


.homepage-billboard {
    height: 100%;
    /*background-image:url(Lighthouse.jpg);*/
    background: center center no-repeat;
    background-size:cover;
    /*background-repeat:no-repeat;*/
    text-align:center;
}

.homepage-title--container {
    height: 50%;
    /*margin-top:66px;*/
}

.homepage-subtitle,.homepage-title {
    background:rgba(52,48,45,.8);
    color:#f1f1f1;
    display:inline-block;
}

.homepage-title {
    font-size:48px;
    font-weight:400;
    line-height:68px;
    font-family:Montserrat,sans-serif;
    letter-spacing:-2px;
    padding:0 15px;
    margin-top: 20%;
}

.homepage-subtitle {
    font-size:22px;
    line-height:18px;
    padding:2px 19px 12px;
}

.btn-default {
    background-color: transparent;
}