.snap-content {
    background-color: #fff;
    border-left: 1px solid #ccc;
}

.snap-drawers {
    background: #323949;
}

.snap-drawer {
    background: #323949;
    color: #eee;
}

.snap-drawer h3 {
    font-size: 36px;
    font-weight: normal;
    margin: 15px;
}

.snap-drawer h4 {
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
}

.snap-drawer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.snap-drawer li > a {
    display: block;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    font-weight: bold;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
    color: #ccc;
    text-indent: 20px;
}


.snap-drawer h1 h2 {
    color: #ffffff;
}




.nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.snap-drawer p {
    opacity: 0.5;
    padding: 15px;
    font-size: 12px;
}