<div class="container" ng-controller="StoryCreateController" style="width: 100%; height: 100%;position: absolute;top: 0;">

    <div class="container">

        <h1 contentEditable="true" ng-enter ng-blur="updateStory(story)" ng-model="story.title"/>

        <small class="muted">{{story.submittedOn | date:'medium'}}</small>

        <my-fullscreen>
            <!--<div class="content-a">-->
            <!--<div class="content-b">-->
            <!--Centered content-->
            <!--</div>-->
            <!--</div>-->
        </my-fullscreen>

        <form novalidate class="form-horizontal" ng-submit="save()">


            <!--<table class="table" style="border:0px">-->
                <!--<tr>-->
                    <!--<td> &lt;!&ndash; story image uploader&ndash;&gt;-->

                        <!--<div class="image-upload1" ng-show="!story.image.url">-->
                            <!--<label>-->
                                <!--<img src="http://placehold.it/400x300&text=Image"/>-->
                            <!--</label>-->

                        <!--</div>-->
                        <!--<img ng-src="{{story.image.url}}" ng-show="!story.image.vertical && story.image.url"-->
                             <!--degrees='angle' rotate width="400"-->
                             <!--height="300"/>-->
                        <!--<img ng-src="{{story.image.url}}" ng-show="story.image.vertical && story.image.url"-->
                             <!--degrees='angle' rotate width="300"-->
                             <!--height="400"/>-->
                    <!--</td>-->
                    <!--<td>-->

                        <!--&lt;!&ndash;<div contentEditable="true" class="fittext" ng-blur="updateStory(story)" ng-enter&ndash;&gt;-->
                             <!--&lt;!&ndash;text="story.text" ng-model="story.text"&ndash;&gt;-->
                             <!--&lt;!&ndash;max-font-size="60"></div>&ndash;&gt;-->

                        <!--<div contenteditable="true" class="fittext" ng-model="story.text" ng-blur="updateStory(story)" ng-enter>-->
                        <!--</div>-->
                 <!--</td>-->

                <!--</tr>-->
            <!--</table>-->

            <br/>
            <!--class="fittext"-->

            <div contenteditable="true" ng-model="story.text" ng-blur="updateStory(story)" ng-enter>
            </div>


        </form>

        <div>

            <div id="records">
                <div ng-repeat="record in story.records">
                    <div id="image">
                        <a ng-href="{{record.image.url}}">
                            <!-- HORIZONTAL -->
                            <img ng-src="{{record.image.url}}" ng-show="!record.image.vertical" width="800"
                                 height="600" class="img-responsive center-block"/>
                            <!-- VERTICAL -->
                            <img ng-src="{{record.image.url}}" ng-show="record.image.vertical" width="800"
                                 height="600" class="img-responsive center-block"/>
                        </a>

                        <a ng-click="selectStoryImage(record)">Обложка истории</a>


                    </div>

                    <div contenteditable="true" class="fittext" ng-model="record.comment"
                         ng-blur="updateRecord(record)" ng-enter style="width:100%;height:100px;">
                        {{ record.comment || 'Нет описания' }}
                    </div>

                    <!--<div id="comment">-->
                        <!--<a href="#" editable-textarea="record.comment" onbeforesave="updateRecord(record,$data)"-->
                           <!--e-rows="7"-->
                           <!--e-cols="40" e-style="width:100%;height:100%;">-->
                            <!--<pre>{{ record.comment || 'Нет описания' }}</pre>-->
                        <!--</a>-->
                    <!--</div>-->
                    <td width="10%"><a ng-click="delete($index)">Удалить</a></td>
                </div>
                <!--one record-->

            </div>
            <!--records-->
        </div>

        <input type="file" onchange="angular.element(this).scope().file_changed(this)" accept="image/jpeg, image/png" multiple />

    </div>
</div>


















