<div class="container" ng-controller="StoryCreateController"
     style="margin:0px;width: 100%; height: 100%; position: absolute;top: 0;padding: 0px; "
     xmlns="http://www.w3.org/1999/html">

    <section class="billboard--wrapper homepage-billboard"
             ng-style="{'background-image': 'url(' + story.image.url + ')'}">

        <div class="billboard--container">
            <div class="container-fluid">
                <div class="homepage-title--container">
                    <h2 class="homepage-title" contenteditable="true" ng-enter ng-blur="updateStory(story)"
                        data-ng-model="story.title">
                        {{story.title}}
                    </h2>

                    <div class="homepage-subtitle--container desktop-only">
                        <h2 class="homepage-subtitle" contenteditable="true" ng-blur="updateStory(story)"
                            data-ng-model="story.text">
                            {{story.text}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div ng-model="story.text" medium-editor class="comment demo" ng-blur="updateStory(story)"-->
    <!--options='{ "placeholder":"Input comment","mode": "Medium.partialMode","disableToolbar": false}'></div>-->
    <!--</div>-->
    <!--</div>-->

    <hr>


    <div class="container">

        <div id="records">
            <div ng-repeat="record in story.records">
                <div id="image">
                    <!-- HORIZONTAL -->
                    <img ng-src="{{record.image.url}}" ng-if="!record.image.vertical" width="800"
                         height="600" class="img-responsive center-block"/>
                    <!-- VERTICAL -->
                    <img ng-src="{{record.image.url}}" ng-if="record.image.vertical" width="800"
                         height="600" class="img-responsive center-block"/>

                    <div class="text-center" ng-if="record.type == 'Image'">
                        <a class="btn btn-default" ng-click="selectStoryImage(record)">Обложка истории</a>
                        <a class="btn btn-default" ng-href="{{record.image.url}}">Просмотреть</a>
                        <a class="btn btn-default" ng-click="addTextRecordToImage($index)">Добавить запись</a>
                        <a class="btn btn-default" ng-click="delete($index)">Удалить</a>

                    </div>

                </div>

                <div ng-if="record.type == 'Text'">
                    <div ng-model="record.text" medium-editor class="comment demo" ng-blur="updateRecord(record)"
                         options='{ "placeholder":"Описание","mode": "Medium.partialMode","disableToolbar": false, "buttons": ["bold", "italic", "underline", "anchor", "header1", "header2", "quote", "orderedlist", "unorderedlist","justifyLeft","justifyCenter"]}'>

                    </div>

                    <a class="btn btn-default" ng-click="delete($index)">Удалить</a>


                </div>

                <span ng-show="!$first" ng-click="moveUp($index)"
                      class="glyphicon glyphicon-arrow-up">up</span>

                <span ng-show="!$last" ng-click="moveDown($index)"
                      class="glyphicon glyphicon-arrow-down">down</span>
            </div>
            <!--one record-->

        </div>
        <!--records-->
    </div>
    <input type="file" onchange="angular.element(this).scope().file_changed(this)"
           accept="image/jpeg, image/png"
           multiple/>

    <a class="btn btn-default" ng-click="addTextRecord()">Добавить запись</a>

    </body>
</div>


















