<h3 class="text-center">
    Истории
</h3>
<div class="container" ng-controller="StoryListController">
    <table class="table">
        <tr ng-repeat="story in stories">
            <td style="width:60%">
                <div class="text-center" style="padding: 3%;">
                    <a href="/#/trips/{{tripId}}/stories/{{story.id}}">
                        <h4>{{story.title}} <br>
                            <small>{{story.text | limitTo:400 }} ...</small>
                        </h4>
                    </a>
                </div>
            </td>

            <td style="width:10%">
                <img ng-src="{{story.image.url}}" width="200" height="150"/>
            </td>
            <td style="width:10%">
                <a class="btn btn-default btn-xs" ng-click="selectTripImage(story)">Обложка путешествия</a>
                <a ng-click="delete($index)" class="btn btn-default btn-xs">Удалить историю</a>
            </td>
        </tr>
    </table>

    <a class="btn btn-default pull-left" ng-click="create()"><i
            class="icon-plus-sign icon-white"></i>Создать</a>
</div>