<!DOCTYPE html>
<html ng-app="getbookmarks">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/toastr.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />

    <title>Report</title>

    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.js"></script>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/ng-flow-standalone.min.js"></script>




    <script src="js/toastr.js"></script>
    <script src="js/app.js"></script>


</head>
<body ng-controller="BlogController">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <p class="navbar-brand" href="#">{{username}}</p>
        </div>

        <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li><a href="#/stories">Stories</a></li>-->
            </ul>

        </div>


        <!--/.nav-collapse -->

    </div>

</div>



</body>
</html>
</div>
