<!DOCTYPE html>
<html ng-app="getbookmarks" lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/toastr/toastr.min.css"/>
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/snap.css">

    <link rel="stylesheet" href="bower_components/medium-editor/dist/css/medium-editor.min.css">
    <link rel="stylesheet" href="css/medium.css">
    <link rel="stylesheet" href="css/medium-demo.css">


    <link rel="stylesheet" href="bower_components/angular-snap/angular-snap.min.css"/>

    <link rel="stylesheet" href="css/flowgrid.css">

    <base href="/home">
    <title>Путешественники</title>

    <script src="bower_components/snapjs/snap.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/momentjs/min/moment.min.js"></script>
    <script src="bower_components/momentjs/locale/ru.js"></script>
    <script src="js/angular-breadcrumb.min.js"></script>

    <script src="bower_components/medium-editor/dist/js/medium-editor.js"></script>
    <script src="bower_components/angular-medium-editor/dist/angular-medium-editor.min.js"></script>


    <!-- side panel -->
    <script src="bower_components/angular-snap/angular-snap.min.js"></script>

    <script src="bower_components/toastr/toastr.min.js"></script>

    <script src="bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>

    <script src="js/ngFlowGrid.js"></script>

    <script src="js/routingConfig.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>

</head>
<body ng-controller="NavCtrl">

<div snap-drawer="left">
    <!--<a snap-close>-->
    <!--<span class="glyphicon glyphicon-home"></span>-->
    <!--Домой-->
    <!--</a>-->

    <a snap-close>
        <h4><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Домой</h4>
    </a>

    <div data-access-level="accessLevels.user">
        <h4>Коллекция:</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/#/trips">Путешествия</a></li>
            <!--<li><a href="/#/stories">Истории</a></li>-->
            <!--<li><a href="/#/stories">Карта</a></li>-->
        </ul>
    </div>
</div>

<snap-content>
    <div class="navbar navbar-default navbar-fixed-top transparent navbar-inverse" style="background: transparent">

        <div class="container-fluid">

            <div class="navbar-header" data-access-level="accessLevels.public" active-nav="active-nav">

                <a class="navbar-brand" snap-toggle="left">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>


            <!-- RIGHT NAVBAR -->
            <div class="collapse navbar-collapse">


                <ul class="nav navbar-nav" data-access-level="accessLevels.public">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <li><a class="navbar-brand" href="/#">Путешественники</a></li>
                </ul>

                <ul class="nav navbar-nav">
                    <li data-access-level="accessLevels.admin">
                        <a href="/#/admin">Администрирование</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li data-access-level="accessLevels.anon" active-nav="active-nav">
                        <a href="/#/login">Войти</a>
                    </li>
                    <li data-access-level="accessLevels.anon" active-nav="active-nav">
                        <a href="/#/register">Зарегистрироваться</a>
                    </li>
                    <!--<div id="userInfo" data-access-level="accessLevels.user" class="pull-right">Добро пожаловать&nbsp;-->
                    <!--<strong>{{user.username }}&nbsp;</strong>-->
                    <!--<span data-ng-class="{&quot;label-info&quot;: user.role.title == userRoles.user.title, &quot;label-success&quot;: user.role.title == userRoles.admin.title}"-->
                    <!--class="label">{{ user.role.title }}-->
                    <!--</span>-->
                    <!--</div>-->
                </ul>

                <form class="navbar-form navbar-right" data-access-level="accessLevels.user" ng-if="$state.is('user.list')">
                    <a class="btn btn-default" href="#/profile">Профиль</a>
                    <a class="btn btn-default" href="#/profile">Профиль2</a>
                    <!--<li class="dropdown">-->
                        <!--<a class="dropdown-toggle" data-toggle="dropdown">Вошли как: {{ user.username }}-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu" role="menu">-->

                            <!--<li><a href="#/profile">Профиль</a></li>-->
                            <!--<li><a href="/" data-ng-click="logout()">Выйти из аккаунта</a></li>-->
                            <!--&lt;!&ndash;<li><a href="#">Something else here</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="dropdown-header">Nav header</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Separated link</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li></li>&ndash;&gt;-->
                        <!--</ul>-->
                    <!--</li>-->
                </form>

                <ul class="nav navbar-nav navbar-right" data-access-level="accessLevels.user">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Вошли как: {{ user.username }}
                        </a>
                        <ul class="dropdown-menu" role="menu">

                            <li><a href="#/profile">Профиль</a></li>
                            <li><a href="/" data-ng-click="logout()">Выйти из аккаунта</a></li>
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                            <!--<li></li>-->
                        </ul>
                    </li>
                    <li>
                        <!--<button type="submit" class="btn btn-default">Войти</button>-->
                    </li>
                </ul>
                <!--/.nav-collapse -->
            </div>

        </div>

    </div>

    <br/><br/><br/>
    <!--class="well"-->
    <!--<div ncy-breadcrumb>-->

    <!--</div>-->


    <div ui-view style="height: 100%" data-snap-ignore="true">
    </div>
</snap-content>


<!-- snap -->


</body>


<script type="text/ng-template" id="/404">
    <ng-include src="'views/404.html'"></ng-include>
</script>

<!--<script type="text/ng-template" id="/login">-->
<!--<ng-include src="'views/login.html'"></ng-include>-->
<!--</script>-->

<!--script(type="text/ng-template", id="login")-->
<!--include partials/login-->

<!--script(type="text/ng-template", id="admin")-->
<!--include partials/admin-->
<!--script(type="text/ng-template", id="home")-->
<!--include partials/home-->

<!--script(type="text/ng-template", id="private/layout")-->
<!--include partials/private/layout-->
<!--script(type="text/ng-template", id="private/home")-->
<!--include partials/private/home-->
<!--script(type="text/ng-template", id="private/nested")-->
<!--include partials/private/nested-->
<!--script(type="text/ng-template", id="private/nestedAdmin")-->
<!--include partials/private/nestedAdmin-->
<script type="text/ng-template" id="register">
    <ng-include src="'views/register.html'"></ng-include>
</script>

<!--<script type="text/ng-template" id="home">-->
<!--<ng-include src="'views/home.html'"></ng-include>-->
<!--</script>-->


</html>
